body{
	background-color: pink;
}

.cabecalho {
	display: flex;
    justify-content: right;
}


h1{
	color: red;
	font-size: 40px;
	text-align: center;
}

p{
	font-size: 30px;
}

.container-principal__titulo {
 	color: grey;
	margin-left: 20px;
}

#banner{
	width: 100%;
}

.container-principa__lista {
	list-style: none;
	font-family: 'Lora', serif;
	font-size: 20px;
}

.container-secundario {
	display: flex;
    justify-content: left;
    align-items: center;
}

.container-secundario__titulo {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: red;
	font-size: 35px;
}

.container-secundario__imagem{
	width: 30%;
}

.container-secundario__lista {
	display: flex;
	list-style: none;
	font-size: 20px;
}